= simple_format t('mailer.access_request_mailer.accept.content', user_name: @request.legal_representative, company_name: @request.company_name, link: accept_invitation_url(@user, invitation_token: @code))
